endpoint.id = CurrentWeather
objectClass = org.wimi.weatherbit.api.CurrentWeather
#service.imported = true
service.imported.configs = org.apache.cxf.rs
org.apache.cxf.rs.address = http://api.weatherbit.io/v2.0/
service.exported.intents=HTTP
service.intents = jackson
